/* CSS => Cascading Sttyle Sheet (folha de estilho em cascata) */

/* 
seletor : {
  propriedade: valor
  cor: vermelho

} => regra CSS, declaraçao e regras

*/
/* Tipos de seletores,existem 3 tipos de seletores

/* 1. Seletor por elemento/tag*/
header {
  background-color: burlywood;
}

/* 2. Seletor por classe */
.secaoDetalhesConta {
  /* background-color: aqua; */
}

/* 3. Seletor por id , seletor único, não posso repeitr, somente uma tag deve conter o id*/
#exemploSelectorId {
  color: yellow;
  background-color: blue;
  font-family: monospace;
  font-size: 20;
}

/* Dimensionamento */
.secaoDetalhesConta {
  /* largura */
  width: 300px;
  /* altura */
  height: 300px;
  /* box */
  background-color: rosybrown;
}

/* Posicionamento */
/* 1.elementos em line a, strong, span (elementos em linha) não é possivel settar largura e altura, padrão vem do conteudo e texto */
/* 2.elementos em bloco p, h2, section (ocupam 100% da pagina/documento), exemplo tag <p>, elementos em bloco possume largura e altura */

/*3.inline-block */

/* 4.flexbox, facilita na hora de posicionar os blocos, sem precisar ajustar pixel a pixel */

.exemploDivFlexBox {
  background-color: ;
  height: ;
  display: flex;
  flex-direction: ;
  justify-content: ;
  align-items: ;
}

.div1 {
  width: ;
  height: ;
  background-color: ;
}
.div2 {
  width: ;
  height: ;
  background-color: ;
}
